.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url(../public/images/pexels-veeterzy-114979.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  display: flex;
  /* flex-basis: 100%; */
  justify-content: center;
  padding: 30px 30px;
  /* margin: 30px 0px 0px 0px; */
}


.walletButton {
  color: white;
  height: 4rem;
  padding: 0.8rem 2.8rem;
  font-size: 1.5rem;
  background: linear-gradient(99.85deg, rgb(179, 46, 255) -18.29%, rgb(242, 164, 152) 109.86%);
  box-shadow: rgb(255, 255, 255) 10px -10px 30px, rgba(216, 213, 220, 0.8) -10px 10px 30px;
  transition: background-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
  border-radius: 3rem;
  text-transform: none;
  border: none;
}

.message {
  margin: 50px 0px 50px 0px;
}

.body {
}

form {
  display: flex;
  flex-direction: column; 
}

select {
  padding: 15px;
  margin: 10px 0px;
}

input, select {
  border-radius: 1rem;
  padding: 15px;
  margin: 10px;
  border: 2px solid #CBC3E3
}

.sendButton {
  color: white;
  width: 8rem;
  margin: 40px;
  font-size: 1.3rem;
  background: linear-gradient(101.98deg, rgb(179, 46, 255) -23.47%, rgb(225, 133, 179) 125.55%);
  line-height: 3rem;    
  border-radius: 3rem;
  border: none;
  justify-content: center;
}

.message {
  color: #00000;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius:.5em;
  margin: 10px 0px;
  padding:12px;
  width: 400px;
}